.Nav-ul li{
  display: inline-block;
  padding: 10px;
}

.Nav-ul{
    padding: 5px;
    margin: 0;
    background-color: lightskyblue;
}
.Nav-ul li a {
  color: #fff;
    padding: 5px;
    text-decoration: none;
}
 .footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: lightskyblue;
  color: #fff;
 }
 
 .InputBox {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
  
 }
 .register, .login , .addproduct{
  margin-left: 30%;
 }
 .appButton {
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
 }

 /* .Login {
  margin-left: 30%;
 } */
  .nav-right {
    text-align: right;
  }

  .invalid-input {
    color: red;
    margin-top: -20px;
    display: block;
    margin-left:30px ;
    
  }

  .product-list {
    text-align: center;
    margin-top: 50px;

  }

  .product-list ul li {
    display: inline-block;
    border : 1px solid skyblue;
    padding: 5px;
    width: 150px;
  }
 
  .product-list ul {
    margin:0 ;
    padding: 0%;
  }

  .searchbar {
    width: 400px;
    margin: 20px;
    height: 40px;
    border: 1px solid skyblue;
    padding-left: 20px;
}
  